.form {
    position: relative;
    height: 717px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    border-radius: 30px;
    background-color: #1d1f25;
 }
.form__container {
    width: 100%;
   
    padding-top: 100px;
}
.form__wrapper-img {

}
.form__img {
    position: absolute;
    right: 0;
    object-fit: cover;
    height: 100%;
    border-bottom-right-radius: 30px;
}
.form__title {
    padding-bottom: 60px;
    max-width: 553px;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.8px;
    color: #FFF;
}
.form__itp {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -0.48px;
    max-width: 567px;
    height: 60px;
    border-radius: 675px;
    color: #FFF;
    border: 0;
    background-color:  #313540;
}
.form__itp::placeholder {
    padding-left: 30px;
}
.form__label {
    position: absolute;
    top: 0;
    z-index: -1;
}
.form__itp:focus ~ .label {
    top: -18px;
    font-size: 12px;
    opacity: 0.5;
}
.form__container li:nth-child(1) {
    margin-bottom: 25px;
}
.form__container li:nth-child(2) {
    margin-bottom: 60px;
}
.form__btn {
    width: 450px;
    height: 70px;
    text-align: center;
    align-items: center;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: -0.66px;
    border-radius: 10px;
    display: block;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid #FF9913;
    color: #000;
    background-color: #FF9913;
}
@media (max-width: 961px) {
    .form {
    height: 484px;
    }
    .form__container {
    padding-top: 50px;
    }
    .form__title {
    max-width: 373px;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40.5px; /* 101.25% */
    letter-spacing: -1.2px;
    }
    .form__itp {
    height: 41px;
    max-width: 383px;
    }
    .form__btn {
    line-height: 47px;
    width: 277px;
    font-size: 16px;
    }
}
@media (max-width: 770px) {
    .form__img {
        display: none;
    }
 }
@media (max-width: 576px) {
    form {
        align-items: center;
    }

    .form__btn {
        width: 100%;
    }
    .form__title {
    font-size: 35px;
    line-height: 37.329px;
    letter-spacing: -1.05px;
    }
}